[Desktop Entry]
Categories=Development;Utility;
Comment[en_US]=USB Watchdog for Von Agent mobile connection
Comment=USB Watchdog for Von Agent mobile connection
Exec=gnome-terminal '--title=Von Agent Link' -- bash -c '/home/kosi/mobile-dev-lab/my-expo-app/nexus-link.sh; exec bash'
GenericName[en_US]=
GenericName=
Icon=utilities-terminal
MimeType=
Name[en_US]=Von Agent Link
Name=Von Agent Link
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
